:root{
    --global-font-family: 'Roboto', sans-serif;
    --global-bg-dark-primary: #005CAB;
    --global-bg-dark-secondary: #0D72B9;
    --global-bg-light-primary: #DDEBF6;
    --global-border-gradient: linear-gradient(to right, #60F9A9, #0294FB);

}
html *{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-family: 'Roboto', sans-serif;
}
body{

}
.rahimafroz-btn{
    position: relative;
    background: var(--global-bg-light-primary);
    color: var(--global-bg-dark-primary);
    border-radius: 6px;
    height: 30px;
}
.rahimafroz-btn::before{
    content: "";
    position: absolute;
    height: 121%;
    width: 105.5%;
    padding: 10px;
    top: -3px;
    left: -3px;
    /*border-width: 3px;*/
    /*background: linear-gradient(white, white) padding-box,*/
    /*var(--global-border-gradient) border-box;*/
    /*border: 4px solid transparent;*/

    border-radius: 8px; /*1*/
    border: 1px solid transparent; /*2*/
    background: var(--global-border-gradient) border-box; /*3*/
    -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
    mask-composite: exclude; /*5*/
}
.rahim-lang-btn::before{
    content: "";
    position: absolute;
    height: 121%;
    width: 105.5%;
    padding: 10px;
    top: -3px;
    left: -3px;
    /*border-width: 3px;*/
    /*background: linear-gradient(white, white) padding-box,*/
    /*var(--global-border-gradient) border-box;*/
    /*border: 4px solid transparent;*/

    border-radius: 8px; /*1*/
    border: 1px solid transparent; /*2*/
    background: var(--global-border-gradient) border-box; /*3*/
    -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
    mask-composite: exclude; /*5*/
}
.rahim-lang-btn{
    position: relative;

    color: var(--global-bg-dark-primary);
    border-radius: 6px;
    height: 30px;
}
.rahimafroz-btn::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(96, 249,169,0.3), rgba(2, 148, 251,0.3));
}
.btn-up{
    position:relative;
    background: var(--global-bg-light-primary) !important;
    height: 24px;
    bottom: -6px;
    left: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 2;
}

.rahimafroz-main-btn{
    position: relative;
    background: var(--global-bg-light-primary);
    color: var(--global-bg-dark-primary);
    border-radius: 6px;
    height: 30px;
}
.rahimafroz-main-btn::after{
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: linear-gradient(to right, rgba(96, 249,169,0.3), rgba(2, 148, 251,0.3));
 }
.btn-main-up{
    position:relative;
    background: var(--global-bg-light-primary) !important;
    height: 24px;
    bottom: -6px;
    left: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 2;
}


/* Product Slider  */
.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
    left: -30px;
  }
  .owl-nav button.owl-next {
    right: -30px;
  }
  
  .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      /* background: rgba(255, 255, 255, 0.38) !important; */
  }
  .owl-nav button span {
      font-size: 70px;    
      position: relative;
      top: -5px;
      color: #0D72B9  !important;
  }
  .owl-nav button:focus {
      outline: none;
  }

  .map-upper{
    top:15%;
    left: 26%;
  }

  @media screen and (max-width: 480px) {    
    .map-upper{
        top: 12%;
        left: 3%;
      }
  }